/* The button used to display a filter. */
.filter-button {
    border-radius: 0.25em;
    padding: 0.2em;
}

.filter-header {
    @extend .popover-header;
}

.filter-body {
    @extend .popover-body;
}

.filter-scrollable {
    overflow-y: scroll;
    max-height: 25em;
    margin-bottom: 1em;
}

/* Required to fit a date mform into a filter popover */
.filter-date-popover {
    width: 100%;
    max-width: 41.5em;

    .mform {
        margin-left: -3em;
    }
}
